<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name ="sqlsvr" connectionString="Data Source = DWRPC018\SQLEXPRESS; Initial Catalog = Weather_M; Persist Security Info = true; User ID=sa; Password = Wolox37761925" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>